@media only screen and (max-width: 1199px) {
  .our_customers {
    .owl-nav {
      left: 75%;
    }

  }

}


@media only screen and (max-width: 1060px) {
  .our_customers {
    .owl-nav {
      left: 75%;
    }

    .container {
      .carousel_content {
        .carousel_text {
          margin-top: 0;
          max-width: 100%;
        }

        .carousel_img {
          max-width: 350px;

        }
      }

      h2 {
        position: inherit;
        text-align: center;
      }
    }
  }
}


@media only screen and (max-width: 1024px) {
  .navbar-brand {
    justify-self: center;
  }
  h2{
    text-align: center;
    font-size: 60px;
    line-height: 65px;
  }
  .how_to_order .row .col-md-7 h2{
    font-size: 60px;
    line-height: 65px;
  }
}

@media only screen and (max-width: 992px) {
  .main h1{
    font-size: 60px;
    line-height: 60px;
  }
  h2{
    text-align: center;
    font-size: 50px;
    line-height: 55px;
  }
  .how_to_order .row .col-md-7 h2{
    font-size: 50px;
    line-height: 55px;
  }
  header{
    padding: 30px 0;
  }
  .explore_img{
    height: 400px;
    overflow: hidden;
  }
  .main {
    .main_content{
      .main_img{
        top: 77px;
      }
    }

  }

  .navbar-nav {
    align-items: center;
    margin-top: 20px;
  }

  .navbar-brand {
    position: inherit;
  }


  .header_menu {
    flex-direction: row;
    justify-content: center;
  }

  .header_menu li:first-of-type {
    display: none;
  }

  .header_menu li:nth-of-type(2) {
    display: none;
  }

  .header_menu li:last-of-type {
    margin-left: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
  }
  .our_customers .container .carousel_content .carousel_img{
    max-width: 275px;
  }
}

@media only screen and (max-width: 767px) {
  header{
    padding: 10px 0;
  }
  .our_customers .owl-nav {
    display: none;
  }

  .owl-carousel button.owl-dot {
    position: relative;
    bottom: -15px;
    left: 50%;
    height: 7px;
    width: 7px;
    background-color: #0e855d;
    margin-right: 7px;
    border-radius: 50%;

    &.active {
      border: solid 2px #0e855d;
      background: none;
      height: 10px;
      width: 10px;
    }
  }
.carousel_img{
  display: none;
}
  .how_to_order{
    padding: 80px 0;
  }
  .the_best{
    padding: 70px 0;
  }
  .the_best .the_best_list .best_step{
    padding: 10px;
    justify-content: center;
  }
  .main .main_content .main_items{
    margin-top: 25px;
    max-width: 100% ;
    display: flex;
    flex-wrap: wrap;
    .item{
      justify-content: space-between;
    }
  }

  .explore_items{
    padding: 50px 0;
  }
  footer{
    padding-top: 0;
    .social{
      margin: auto;
    }
  }
}

@media only screen and (max-width: 420px) {
  .main {
    padding-top: 50px;
    h1{
      font-size: 40px;
      line-height: 50px;
    }
  }
  h2{
    text-align: center;
    font-size: 30px;
    line-height: 35px;
  }
  .how_to_order .row .col-md-7 h2{
    font-size: 30px;
    line-height: 35px;
  }
}

@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 360px) {

}

@media only screen and (max-width: 320px) {

}