@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.navbar {
  a {
    font-family: 'DM Sans', sans-serif;
  }
}
header{
  padding-top: 50px;
  padding-bottom: 43px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar-brand {
  display: inline-block;
}

.header_menu {
  li {
    &:first-of-type, &:nth-of-type(2) {
      width: 40px;
      height: 40px;
      background-color: #F3FBF8;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:last-of-type {
      margin-left: 32px;
    }

    &:first-of-type {
      margin-right: 20px;
    }

    a {
      img {
        display: block;
      }
    }
  }
}

.navbar-toggler {
  border: solid 3px #09A66D;
  padding: 15px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  span {
    background-color: #09A66D;
    height: 3px;
    background-image: none;
    display: flex;
    align-items: center;

    &:before {
      position: absolute;
      height: 3px;
      background-color: #09A66D;
      content: '';
      display: block;
      margin-bottom: 15px;
      width: 30px;
    }
    &:after {
      height: 3px;
      background-color: #09A66D;
      content: '';
      display: block;
      margin-top: 15px;
      width: 100%;
    }
  }
}
.navbar-toggler:focus{
  box-shadow: none;
}
.navbar-brand{
  position: absolute;
  left: 50%;
}
.navbar-nav{
  li:hover{
    border-bottom: solid 2px #09A66D;

    a{

      &:hover{
        color: #09A66D;
        padding-bottom: 3px;
      }
    }
  }
}