@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.navbar a {
  font-family: 'DM Sans', sans-serif; }

header {
  padding-top: 50px;
  padding-bottom: 43px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar-brand {
  display: inline-block; }

h2 {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: #222222; }

h5 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #222222; }

.header_menu li:first-of-type, .header_menu li:nth-of-type(2) {
  width: 40px;
  height: 40px;
  background-color: #F3FBF8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
.header_menu li:last-of-type {
  margin-left: 32px; }
.header_menu li:first-of-type {
  margin-right: 20px; }
.header_menu li a img {
  display: block; }

.navbar-toggler {
  border: solid 3px #09A66D;
  padding: 15px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }
  .navbar-toggler span {
    background-color: #09A66D;
    height: 3px;
    background-image: none;
    display: flex;
    align-items: center; }
    .navbar-toggler span:before {
      position: absolute;
      height: 3px;
      background-color: #09A66D;
      content: '';
      display: block;
      margin-bottom: 15px;
      width: 30px; }
    .navbar-toggler span:after {
      height: 3px;
      background-color: #09A66D;
      content: '';
      display: block;
      margin-top: 15px;
      width: 100%; }

.navbar-toggler:focus {
  box-shadow: none; }

.navbar-brand {
  position: absolute;
  left: 50%; }

.menu_list li:hover {
  border-bottom: solid 2px #09A66D; }
  .menu_list li:hover a:hover {
    color: #09A66D;
    padding-bottom: 3px; }

.main {
  padding-top: 94px;
  padding-bottom: 50px;
  background-color: #F3FBF8; }
  .main h1 {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222;
    margin-bottom: 20px; }
  .main p {
    max-width: 640px;
    width: 100%;
    margin: auto; }
  .main .order_btn {
    margin-top: 57px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
    justify-content: center;
    transition: 0.3s; }
    .main .order_btn:hover {
      color: #097c52;
      cursor: pointer; }
    .main .order_btn:hover:after {
      background-color: #38c794;
      cursor: pointer; }
    .main .order_btn:after {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f178";
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
      width: 64px;
      background-color: #09A66D;
      border-radius: 50%;
      margin-left: 20px;
      color: white;
      font-size: 20px; }
  .main .main_content {
    display: flex;
    justify-content: space-between; }
    .main .main_content .main_img {
      max-width: 860px;
      width: 100%;
      position: relative;
      left: -45px;
      top: -45px; }
      .main .main_content .main_img img {
        display: block;
        width: 100%; }
    .main .main_content .main_items {
      max-width: 250px;
      width: 100%; }
      .main .main_content .main_items .item {
        padding: 17px 34px;
        background-color: #fff;
        margin-bottom: 30px;
        display: flex;
        width: 100%; }
        .main .main_content .main_items .item .item_text h3 {
          text-transform: uppercase;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 48px;
          color: #000;
          margin-bottom: 4px; }
        .main .main_content .main_items .item .item_text p {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: black; }
        .main .main_content .main_items .item img {
          display: inline-block;
          margin-right: 25px; }

.the_best {
  padding: 140px 0;
  background-color: #fff;
  position: relative;
  overflow: hidden; }
  .the_best .line_top_best {
    position: absolute;
    top: -60px;
    right: 0; }
  .the_best h2 {
    margin-bottom: 20px;
    position: relative;
    z-index: 2; }
  .the_best p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #555555;
    max-width: 640px;
    width: 100%;
    position: relative;
    z-index: 2; }
  .the_best .best_content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .the_best .best_content .delivery_guy {
      max-width: 600px;
      width: 100%;
      position: relative;
      z-index: 2; }
      .the_best .best_content .delivery_guy img {
        display: block;
        width: 100%; }
  .the_best .the_best_list .arrow_down {
    display: flex;
    justify-content: center; }
  .the_best .the_best_list .best_step {
    padding: 40px 60px;
    background-color: #fff;
    display: flex;
    max-width: 500px;
    width: 100%;
    margin-bottom: 15px;
    transition: 0.3s; }
    .the_best .the_best_list .best_step:hover {
      background-color: #F3FBF8; }
    .the_best .the_best_list .best_step:hover .best_step_img {
      background-color: #fff; }
    .the_best .the_best_list .best_step .best_step_img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F3FBF8;
      margin-right: 24px; }
    .the_best .the_best_list .best_step .best_text_text {
      max-width: 277px;
      width: 100%; }
      .the_best .the_best_list .best_step .best_text_text p {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #555555; }

/*# sourceMappingURL=style.css.map */
