@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.navbar a {
  font-family: 'DM Sans', sans-serif; }

header {
  padding-top: 50px;
  padding-bottom: 43px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar-brand {
  display: inline-block; }

.header_menu li:first-of-type, .header_menu li:nth-of-type(2) {
  width: 40px;
  height: 40px;
  background-color: #F3FBF8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
.header_menu li:last-of-type {
  margin-left: 32px; }
.header_menu li:first-of-type {
  margin-right: 20px; }
.header_menu li a img {
  display: block; }

.navbar-toggler {
  border: solid 3px #09A66D;
  padding: 15px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }
  .navbar-toggler span {
    background-color: #09A66D;
    height: 3px;
    background-image: none;
    display: flex;
    align-items: center; }
    .navbar-toggler span:before {
      position: absolute;
      height: 3px;
      background-color: #09A66D;
      content: '';
      display: block;
      margin-bottom: 15px;
      width: 30px; }
    .navbar-toggler span:after {
      height: 3px;
      background-color: #09A66D;
      content: '';
      display: block;
      margin-top: 15px;
      width: 100%; }

.navbar-toggler:focus {
  box-shadow: none; }

.navbar-brand {
  position: absolute;
  left: 50%; }

.navbar-nav li:hover {
  border-bottom: solid 2px #09A66D; }
  .navbar-nav li:hover a:hover {
    color: #09A66D;
    padding-bottom: 3px; }

.main {
  padding-top: 94px;
  padding-bottom: 50px;
  background-color: #F3FBF8; }
  .main h1 {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222;
    margin-bottom: 20px; }
  .main p {
    max-width: 640px;
    width: 100%;
    margin: auto; }
  .main .order_btn {
    margin-top: 57px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #222222;
    justify-content: center;
    transition: 0.3s; }
    .main .order_btn:hover {
      color: #097c52; }
    .main .order_btn:hover:after {
      background-color: #38c794; }
    .main .order_btn:after {
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      content: "\f178";
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
      width: 64px;
      background-color: #09A66D;
      border-radius: 50%;
      margin-left: 20px;
      color: white;
      font-size: 20px; }
  .main .main_content {
    display: flex;
    justify-content: space-between; }
    .main .main_content .main_img {
      max-width: 860px;
      width: 100%;
      position: relative;
      left: -45px;
      top: -45px; }
      .main .main_content .main_img img {
        display: block;
        width: 100%; }
    .main .main_content .main_items {
      max-width: 250px;
      width: 100%; }
      .main .main_content .main_items .item {
        padding: 17px 34px;
        background-color: #fff;
        margin-bottom: 30px;
        display: flex;
        width: 100%; }
        .main .main_content .main_items .item .item_text h3 {
          text-transform: uppercase;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 48px;
          color: #000;
          margin-bottom: 4px; }
        .main .main_content .main_items .item .item_text p {
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: black; }
        .main .main_content .main_items .item img {
          display: inline-block;
          margin-right: 25px; }

/*# sourceMappingURL=style.css.map */
